.mainBuild {
    text-align: center;
}

.ingredientButton {
    height: 30px;
    margin: 3px auto;
    width: 70%;
    padding: 5px;
    border: none;
    font-size: 16px;
}

.breadTop {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.Bread {
    background-color: #c7a901;
}

.Sauces {
    background-color: #a151a1;
}

.Veggies {
    background-color: #27c028;
}

.Cheese {
    background-color: yellow;
}

.Meat {
    background-color: #dd4e54;
}

.breadBottom {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.nutritionCounter {
    display: inline-block;
    width: 48.5%;
    border: 1px dotted;
    margin: 1px;
    border-radius: 5px;
}

.sandwichSaveButton {
    border-radius: 50px;
    border: 3px solid;
    background-color: gray;
}

.sidebar {
    position: absolute;
    left: -0px;
    top: 0px;
    height: 100%;
    width: 250px;
    z-index: 99;
}

.breadbar {
    background-color: #c7a901;
}

.saucebar {
    background-color: #a151a1;
}

.veggiebar {
    background-color: #27c028;
}

.cheesebar {
    background-color: yellow;
}

.meatbar {
    background-color: #dd4e54;
}