.addNew {
    display: inline-block;
    border: 1px solid;
    background-color: rgb(183, 247, 183);
    margin: 5px;
    width: 46.5%;
    height: 150px;
    text-align: center;
    font-size: 60px;
    padding: 30px;
}