.profile {
    border-top: 8px solid aquamarine;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.card {
    width: 47%;
    height: 150px;
    padding: 15px;
    border: 2px solid black;
    box-shadow: 0 2px 2px;
    display: inline-block;
    margin: 5px;
    text-align: left;
}

.sandwichesTab {
    display: inline-block;
    width: 47%;
    padding: 5px 30px;
    background-color: aquamarine;
    cursor: pointer;
}

.ingredientsTab {
    display: inline-block;
    width: 47%;
    padding: 5px 30px;
    background-color: darksalmon;
    cursor: pointer;
}

.addNew {
    display: inline-block;
    border: 1px solid;
    background-color: rgb(183, 247, 183);
    margin: 5px;
    width: 47%;
    height: 150px;
    text-align: center;
}