.profile {
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}

.sandwichesTab {
    display: inline-block;
    width: 47%;
    padding: 5px 30px;
    background-color: aquamarine;
    cursor: pointer;
}

.ingredientsTab {
    display: inline-block;
    width: 47%;
    padding: 5px 30px;
    background-color: darksalmon;
    cursor: pointer;
}

.categoryButtons {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.categoryButton {
    margin: 0 auto;
    font-size: 14px;
    border: none;
    padding: 3px 6px;
    border-radius: 3px;
    box-shadow: 0px 3px 2px;
}

@media only screen and (min-width: 500px) {
    .categoryButton {
        width: 15%;
    }
}